$reg_width: 80px;

@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Source Code Pro', sans-serif;
}

* {
  box-sizing: border-box;
}

#container {
  height: 100%;
}

#gameboy {
  border: 1px solid blue;
  height: 100%;
}

#controls, #player, #registers, #memory, #tabbed {
  border: 1px solid green;
  float: left;
  display: inline-block;
}

#registers, #memory, #player {
}

#controls {
  height: 48px;
  width: 100%;

  b {
    font-size: 25pt;
    margin-left: 10px;
    float: left;
  }

  ul {
    float: right;
    padding-left: 0;
    list-style-type: none;
    display: inline-block;

    li {
      margin-top: -8px;
      float: left;
      display: inline-block;
      margin-left: 20px;
      margin-right: 20px;
      height: 32px;
      width: 32px;

      img {
        float: left;
        width: 32px;
        height: 32px;

        /* Created by Charlie Bob Gordon - from Noun Project */
        /* Need to credit */
      }
    }
  }
}

#player {
  width: calc(100% - #{$reg_width} - 350px);
  height: 576px;
}

#registers, #memory {
  height: 576px;
}

#registers {
  font-size: 10pt;
  width: $reg_width;

  ul {
    padding-left: 0;
  }
}

#memory {
  background: #111;
  color: #eee;
  width: calc((100% - 640px - #{$reg_width});
  overflow-y: scroll;

  font-size: 9pt;

  cursor: default;
  width: 350px;

  & > div {
    & > div {

      & > span {
      }

      &:nth-child(2n) {
        background: #333;

        &:hover {
          background: #555;
        }
      }

      &:hover {
        background: #555;
      }
    }
  }
}


#tabbed {
  width: 100%;
  border: 1px solid red;
  height: calc(100% - 576px - 48px);
}
